// Screen brakepoints
// $mq-xxl: 1399.98px !default;
// $mq-xl: 1199.98px !default;
// $mq-lg: 991.98px !default;
// $mq-md: 767.98px !default;
// $mq-sm: 575.98px !default;
// $mq-xs: 360.98px !default;
$mq-xxl: 1899px !default;
$mq-xl:1200px !default;
$mq-lg: 992px !default;
$mq-md: 768px !default;
$mq-sm: 576px !default;
$mq-xs: 361px !default;


//vars for fluid font sizes
// $maxS: $mq-xxl;
// $minS: 480;
